@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue-Light";
  src: url("./assets/fonts/NeueMachina-Light.otf") format("opentype");
}

@font-face {
  font-family: "Neue-Regular";
  src: url("./assets/fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neue-UltraBold";
  src: url("./assets/fonts/NeueMachina-Light.otf") format("opentype");
}

:root {
  --black: #000;
  --white: #fff;
  --grayWhite: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: "DM Sans", sans-serif;
}

body,
html {
  background: var(--black);
}

.gray-white-color {
  color: var(--grayWhite) !important;
}

.neue-ultrabold {
  font-family: "Neue-Ultrabold", Arial, sans-serif;
}

.neue-regular {
  font-family: "Neue-Regular", Arial, sans-serif;
}

.neue-light {
  font-family: "Neue-Light", Arial, sans-serif;
}
