@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue-Light";
  src: url("./assets/fonts/NeueMachina-Light.otf") format("opentype");
}

@font-face {
  font-family: "Neue-Regular";
  src: url("./assets/fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neue-UltraBold";
  src: url("./assets/fonts/NeueMachina-Light.otf") format("opentype");
}

:root {
  --black: #000;
  --white: #fff;
  --grayWhite: #f1f1f1;
  --tw-gradient-stops: rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--white); */
  font-family: "DM Sans", sans-serif;
}

body,
html {
  background: var(--black);
}

.gray-white-color {
  color: var(--grayWhite) !important;
}

.neue-ultrabold {
  font-family: "Neue-Ultrabold", Arial, sans-serif;
}

.neue-regular {
  font-family: "Neue-Regular", Arial, sans-serif;
}

.neue-light {
  font-family: "Neue-Light", Arial, sans-serif;
}

.\-maa\-translateY\-\[150px\] {
  transform: translateY(-150px);
}

.Typewriter {
  display: inline-block;
  color: inherit;
}

.Typewriter > * {
  color: inherit;
}

.infinite-translate {
  animation: infiniteTranslate 10s linear 0s infinite normal;
}

@keyframes infiniteTranslate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

.features-container:hover .feature-content-container > div {
  transform: translateY(0);
}

.fit-container {
  max-width: 928px;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}

.more-project:hover i {
  transform: rotate(0deg);
}
